.p-auth-box {
    @extend .row;
    width: 360px;
    border: 1px solid $medium-gray;
    padding: $form-spacing;
    border-radius: $global-radius;
    margin: 12% auto;
}

.p-auth-box {

    &__inner {
        text-align: center;
    }

    &__header {
        margin-bottom: 1rem;
    }

    &__label {
        @extend .input-group-label;
        background-color: $primary-color;
        border-color: $primary-color;
    }

    &__field {
        @extend .input-group-field;
        border: solid $medium-gray 1px;
    }

    &__field:focus {
        border: solid $primary-color 1px;
    }

    .is-error {
        border: solid red 1px;
    }

    &__icon {
        color: white;
        width: 1rem;
    }

    &__link {
        @extend .text-center;
    }

    &__button {
        @extend .button;
        @extend .expanded;
    }

}
